In [156]:
#3 - Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes

In [157]:
import pandas as pd

In [158]:
# Charger le fichier BF.txt dans un DataFrame
df = pd.read_csv("BF.txt", sep="\t", header=None)

In [159]:
# Sélectionner les colonnes pertinentes et renommer les colonnes
df = df[[0, 1, 4, 5]]  # Sélectionner les colonnes d'identifiants, de noms de lieux, de latitudes et de longitudes
df.columns = ['ID', 'location_name', 'lat', 'long']  # Renommer les colonnes

In [160]:
df.head(10)

        ID       location_name       lat     long
0  2282318              Pouéné   9.72908 -2.78660
1  2285251  Léraba Occidentale  10.28333 -5.11667
2  2287216           Kéléouoro   9.80748 -4.05023
3  2294066         White Volta   8.70194 -0.99056
4  2298457        Issana Bouga  10.91667 -1.18333
5  2353158            Zyonguen  12.36667 -0.45000
6  2353159           Zyiliwèlè  12.38333 -2.73333
7  2353160              Zyanko  12.78333 -0.41667
8  2353161               Zouta  13.14908 -1.28197
9  2353162           Zourtenga  12.95741 -1.28745

In [161]:
# Sauvegarder les données dans un fichier CSV
df.to_csv("burkina_location.csv", index=False)

In [162]:
#4 - Opérations sur le fichier CSV burkina_location.csv.

In [163]:
# Charger le fichier CSV burkina_location.csv dans un DataFrame
df_b_l = pd.read_csv("burkina_location.csv")

In [164]:
df_b_l.head(10)

        ID       location_name       lat     long
0  2282318              Pouéné   9.72908 -2.78660
1  2285251  Léraba Occidentale  10.28333 -5.11667
2  2287216           Kéléouoro   9.80748 -4.05023
3  2294066         White Volta   8.70194 -0.99056
4  2298457        Issana Bouga  10.91667 -1.18333
5  2353158            Zyonguen  12.36667 -0.45000
6  2353159           Zyiliwèlè  12.38333 -2.73333
7  2353160              Zyanko  12.78333 -0.41667
8  2353161               Zouta  13.14908 -1.28197
9  2353162           Zourtenga  12.95741 -1.28745

In [165]:
# Extraire les données contenant le nom 'gounghin' et les enregistrer sous le fichier gounghin.csv
gounghin_df = df_b_l[df_b_l['location_name'].str.contains('gounghin', case=False)]
gounghin_df.to_csv("gounghin.csv", index=False)

In [166]:
# Extraire la sous-partie de la base de données dont les noms commencent par les lettres de "A à P"
subset_df = df_b_l[df_b_l['location_name'].str[0].str.upper().between('A', 'P')]

In [167]:
subset_df.head(10)

          ID             location_name       lat     long
0    2282318                    Pouéné   9.72908 -2.78660
1    2285251        Léraba Occidentale  10.28333 -5.11667
2    2287216                 Kéléouoro   9.80748 -4.05023
4    2298457              Issana Bouga  10.91667 -1.18333
137  2353290     Forêt Classée de Ziga  12.47106 -1.08644
153  2353306                  Gounghin  12.06677 -1.42134
320  2353473                 Dar Salam  12.36146 -1.63909
389  2353543  Forêt Classée de Yendéré  10.15000 -5.06667
414  2353568       Province du Yatenga  13.58333 -2.41667
558  2353713     Forêt Classée de Yabo  12.98801 -1.50561

In [168]:
# Identifier la latitude minimale, la longitude minimale et les noms de lieux correspondants
min_lat = subset_df['lat'].min()
min_lon = subset_df['long'].min()
min_lat_lon_names = subset_df[(subset_df['lat'] == min_lat) | (subset_df['long'] == min_lon)]

In [169]:
# Afficher les résultats
print("Latitude minimale :", min_lat)
print("Longitude minimale :", min_lon)
print("Noms de lieux correspondants à la latitude minimale et à la longitude minimale :\n", min_lat_lon_names)

Latitude minimale : 5.21609
Longitude minimale : -5.65968
Noms de lieux correspondants à la latitude minimale et à la longitude minimale :
            ID location_name       lat     long
4221  2357400      Banifing  12.01147 -5.65968
6018  2359210         Komoé   5.21609 -3.71793

In [170]:
# Identifier les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)
between_coords_df = df_b_l[(df_b_l['lat'] >= 11) & (df_b_l['long'] <= 0.5)]
between_coords_df.to_csv("between_coords.csv", index=False)

In [171]:
between_coords_df.head(10)

         ID location_name       lat     long
5   2353158      Zyonguen  12.36667 -0.45000
6   2353159     Zyiliwèlè  12.38333 -2.73333
7   2353160        Zyanko  12.78333 -0.41667
8   2353161         Zouta  13.14908 -1.28197
9   2353162     Zourtenga  12.95741 -1.28745
10  2353163   Zourma-Kita  11.39418 -0.79273
11  2353164         Zouri  11.65000 -1.28333
12  2353165         Zoura  13.28261 -1.47644
13  2353166       Zoungwa  13.21895 -1.97142
14  2353167       Zoungou  12.14441 -0.53169

In [172]:
#5 - Sorties Excel

In [173]:
from openpyxl import Workbook

In [174]:
# Charger les données extraites de l'étape 4.1 (gounghin.csv)
gounghin_df_ = pd.read_csv("gounghin.csv")

In [175]:
# Créer un nouveau classeur Excel
wb = Workbook()

In [176]:
# Créer une feuille et enregistrer les données de gounghin_df
ws1 = wb.create_sheet(title="gounghin")
for idx, row in gounghin_df_.iterrows():
    ws1.append(row.tolist())  # Convertir la série en liste avant de l'ajouter à la feuille

In [177]:
# Créer une seconde feuille et enregistrer les données de A_to_P_df
ws2 = wb.create_sheet(title="A_to_P")
for idx, row in subset_df.iterrows():
    ws2.append(row.tolist())  # Convertir la série en liste avant de l'ajouter à la feuille

In [178]:
# Enregistrer le classeur Excel
wb.save("mini_projet.xlsx")